<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome Jess</h1>
    <p>This is a basic Flask web application.</p>
    <button onclick="displayMessage()">Click Me</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <img src="https://th.bing.com/th/id/OIP.H1_H6rZiuL96dDpK2vmNNwHaKO?w=208&h=287&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="tsunade" width ="1360" height="768"> </img>
</body>
</html>